@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');

#main-title {
    font-family: 'Caveat';
}

header {
    background: #fff;
}
  
header .container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
  
header a {
    color: #333;
    text-decoration: none;
}

nav {
    display: flex;
    align-items: center;
}

nav a {
    margin-left: 10px;
}

#logout-btn {
    background: white;
    color: #1aac83;
    border: 2px solid #1aac83;
    padding: 6px 10px;
    border-radius: 4px;
    font-family: 'Nunito Sans', sans-serif;
    cursor: pointer;
    font-size: 1em;
    margin-left: 10px;
}
